:root {
  // Fonts
  --font-serif: roboto, helvetica, sans-serif;
  --font-condensed: 'roboto condensed', var(--font-serif);

  // Font Sizes
  --font-size-xs: 0.75rem; // 12px
  --font-size-s: 0.875rem; // 14px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.125rem; // 18px
  --font-size-xl: 1.375rem; // 22px
  --font-size-xxl: 1.625rem; // 26px
  --font-size-xxxl: 2rem; // 32px

  // Line Heights
  --line-height-s: 1.3;
  --line-height-m: 1.4;
  --line-height-l: 1.6;
  --line-height-xl: 1.875;

  // Size Tokens
  --size: 0.625rem; // 10px
  --size-xs: calc(var(--size) * 0.5); // 5px
  --size-s: calc(var(--size) * 1); // 10px
  --size-m: calc(var(--size) * 1.5); // 15px
  --size-l: calc(var(--size) * 2); // 20px
  --size-xl: calc(var(--size) * 2.5); // 25px
  --size-xxl: calc(var(--size) * 3); // 30px
  --size-xxxl: calc(var(--size) * 4); // 40px

  // Sizes
  --size-page-width: 53rem; // 848px

  // Border Sizes
  --border-thin: 0.0625rem; // 1px
  --border-medium: 0.125rem; // 2px
  --border-thick: 0.1875rem; // 3px

  // Base Theme
  --image-page-bg: url('https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png');
  --color-page-bg: #f9f9f9;
  --color-page-fg: #242527;
  --color-page-fg-meta: #525c63;
  --color-page-fg-subtle: #979aa4;
  --color-link: #006abe;
  --color-link-monster: #bc0f0f;
  --color-link-spell: #704cd9;
  --color-link-item: #0f5cbc;

  // Footer
  --color-footer-bg: var(--color-page-fg);
  --color-footer-fg: var(--color-page-fg-subtle);
  --color-footer-link: var(--color-page-bg);

  // Header
  --color-header-bg: var(--color-page-fg);
  --color-header-fg: var(--color-page-bg);
  --color-header-fg-subtle: var(--color-page-fg-subtle);
  --color-header-logo: #e30612;

  // Typography
  --color-heading-border: #d1a347;

  // Tables
  --color-table-border: #edeae8;
  --color-table-head-border: #d0cac5;
  --color-table-row-bg-dark: #faf8f7;
  --color-table-row-bg-hover: #ebddbb;

  // Rules Sidebar
  --color-sidebar-bg: #dae4c1;
  --color-sidebar-border-block: #231f20;
  --color-sidebar-border-inline: #b3b3b3;
  --color-sidebar-shadow: #ccc;

  // Quote Box
  --color-quote-bg: #faf8ec;
  --color-quote-corner: #620000;
  --color-quote-border: #620000;
}

html {
  color-scheme: dark light;
}

body {
  background: var(--image-page-bg), var(--color-page-bg, white);
  color: var(--color-page-fg, black);
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: var(--color-link-monster);

    em {
      color: var(--color-link-magic);
    }
  }
}

::selection {
  background: var(--color-page-fg, black);
  color: var(--color-page-bg, white);
}
